# Node modules
node_modules/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env*

# VSCode
.vscode/

# Coverage
coverage/

# Docker
*.local

# Misc
*.log
*.pid
*.seed
*.tgz

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
